.standard-board-img {
    width: 504px;
    height: 315px;
}

.calc-container {
    position: relative;
    font-family: "Helvetica", sans-serif;
}

.territory {
    position: absolute;
    border: 1px solid black;
    border-radius: 30%;
    margin: 0px;
    padding: 5px;
    font-size: 10pt;
    color: white;
    min-width: 9px;
    min-height: 9px;
    line-height: 9px;
    text-align: center;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgba(0,0,0,50%);
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    box-shadow: 0px 0px 15px 0px red;
}


.blue {
    background-color: blue;
}

.red {
    background-color: #f44336;;
}

.grey {
    background-color: grey;
}

.green {
    background-color: green;
}

.orange {
    background-color: #ff8c00;
}

.purple {
    background-color: #9132a8;    
}

.black {
    background-color: black;    
}

.white {
    background-color: white;
}

.hidden {
    display: none;
}