.standard-board-img {
    width: 504px;
    height: 315px;
}

body {
    margin: 0px;
}

.calc-container {
    position: relative;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 10pt;
    border: 1px solid #aaa;
    margin-left: 10px;
    margin-top: 10px;
    width: 504px;
}

.territory {
    position: absolute;
    border: 1px solid black;
    border-radius: 30%;
    margin: 0px;
    padding: 5px;
    color: white;
    min-width: 9px;
    min-height: 9px;
    line-height: 9px;
    text-align: center;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgba(0,0,0,50%);
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    box-shadow: 0px 0px 15px 0px red;
}


.blue {
    background-color: blue;
}

.red {
    background-color: #f44336;;
}

.grey {
    background-color: grey;
}

.green {
    background-color: green;
}

.orange {
    background-color: #ff8c00;
}

.purple {
    background-color: #9132a8;    
}

.black {
    background-color: black;    
}

.white {
    background-color: white;
}

.hidden {
    display: none;
}

.player-marker {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 9pt;
}

.console-component {
    border-top: 1px solid #aaa;
    padding-top: 5px;
    padding-bottom: 5px;  
}

.player-instructions {

}

.undo-buttons {
}

.instruction {
    width: 100%;
    font-size: 9pt;
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
    padding-left: 5px;
}

.help-link {
    float: right;
    margin-right: 5px;
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 8pt;
}

.exploding {
    border: 0px;
    width: 10px;
    height: 10px;
    opacity: 0;
    animation: exploding-animation 2.5s;
    animation-timing-function: linear; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
}

@keyframes exploding-animation {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;

    }
    100% {
        transform: scale(10) rotate(360deg);
        opacity: 0;
    }
}

.card {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-right: 3px;
}

.primary-td {
    width: 100%;
    text-align: center;
}

.cards-label {
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 10pt;
    padding-left: 5px;
}