<html>
  <head>
    <script src="js/random.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/es6-promise.js"></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <link href="css/style.css" rel='stylesheet'>
  </head>
  <body>
    <div id="gameTemplate" class="hidden">
      <div class="calc-container">
        <img src="img/standard-board.png" class="standard-board-img">
        <div
          class="territory"
          v-for="territory in territories"
          v-bind:key="territory.index" 
          v-bind:style="{top:territory.top, left:territory.left}"
          v-bind:class="[territory.color, {clickable: territoryClickable(territory), hidden: territoryHidden(territory)}]"
          v-on:click="clickTerritory(territory);"
          >
            [[territoryText(territory)]]
        </div>

                <!-- INSTRUCTIONS ----------------------------------------------------->      
        <div class="player-instructions">
          <table>
            <tr v-for="player in players">
              <td>
                <span class="arrow" v-bind:class="[{hidden: !player.active}]">⬤</span>
              </td>
              <td nowrap class="player-marker" v-bind:class="[player.color]">
                &nbsp;&nbsp;&nbsp;&nbsp;[[ playerNameText(player) ]]&nbsp;&nbsp;&nbsp;&nbsp;
              </td>
              <td class="instruction">
                [[ player.instruction ]]
              </td>
              <td valign="bottom">
                <div v-if="player.index === players.length - 1" class="help-link"><a target="_blank" href="dice.html">Help</a></div>          
              </td>
            </tr>
          </table>
        </div>

        <div class="undo-buttons">
          <button :disabled="!undoAvailable" v-on:click="clickUndo">Undo</button>
          <button :disabled="!redoAvailable" v-on:click="clickRedo">Redo</button>
        </div>

      </div>
    </div>

    <div id="calc-online" style="float:left;">
    </div>

    <div id="calc1" style="float:left;">
    </div>

    <div id="calc2" style="float:left;">
    </div>



  </body>
  <script src="js/territories.js"></script>
  <script src="js/calc.js"></script>
  <script type="text/javascript">
    const GAME_CONFIG_1 = {
      isHost: true,
      numPlayers: 2,
      username: "Alice",
    };

    const GAME_CONFIG_2 = {
        isHost: false,
        numPlayers: 2,
        username: "Bob",
    };
    const LOCAL_SERVER = new LocalCalcServer();
    const CALC1 = new CalcGame("#gameTemplate", "#calc1", LOCAL_SERVER, $.extend({}, GAME_CONFIG_1, DEFAULT_CONFIG));
    const CALC2 = new CalcGame("#gameTemplate", "#calc2", LOCAL_SERVER, $.extend({}, GAME_CONFIG_2, DEFAULT_CONFIG));

  </script>
</html>
