<html>
  <head>
    <script src="{{ url_for('static', filename='js/random.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vue.js')}}"></script>
    <script src="{{ url_for('static', filename='js/es6-promise.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js')}}"></script>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='icon/site.webmanifest')}}">

  </head>
  <body>

    <div id="gameTemplate" class="hidden">
      <div class="calc-container">
        
        <img src="{{ url_for('static', filename='img/standard-board.png')}}" class="standard-board-img">

        <!-- explosions -->
        <div
          v-for="explosion in explosions"
          class="territory"
          v-bind:key="explosion.id"
          v-bind:class="[explosion.classes]"
          v-bind:style="{top: territories[explosion.territoryIndex].top, left: territories[explosion.territoryIndex].left}"
          >
        </div>
      
        <!-- territories -->
        <div
          class="territory"
          v-for="territory in territories"
          v-bind:key="territoryId(territory)" 
          v-bind:style="{top:territory.top, left:territory.left}"
          v-bind:class="[territory.color, territory.highlightColor, {clickable: territoryClickable(territory), highlighted: territory.highlighted, hidden: territoryHidden(territory)}]"
          v-on:click="clickTerritory(territory);"
          >
            [[territoryText(territory)]]
        </div>

        <div class="dice console-component" v-bind:class="[{hidden: !showDice}]">
          <table>
            <tr>
              <td valign="center" style="width: 100%">
          <div class="red-die-1 red-die hidden">
            <img src="{{ url_for('static', filename='img/red-die-1.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-2.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-3.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-4.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-5.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-6.png')}}">
          </div>
          <div class="red-die-2 red-die hidden">
            <img src="{{ url_for('static', filename='img/red-die-1.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-2.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-3.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-4.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-5.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-6.png')}}">
          </div>
          <div class="red-die-3 red-die hidden">
            <img src="{{ url_for('static', filename='img/red-die-1.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-2.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-3.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-4.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-5.png')}}">
            <img src="{{ url_for('static', filename='img/red-die-6.png')}}">
          </div>
          <div class="white-die-1 white-die hidden">
            <img src="{{ url_for('static', filename='img/white-die-1.png')}}">
            <img src="{{ url_for('static', filename='img/white-die-2.png')}}">
            <img src="{{ url_for('static', filename='img/white-die-3.png')}}">
            <img src="{{ url_for('static', filename='img/white-die-4.png')}}">
            <img src="{{ url_for('static', filename='img/white-die-5.png')}}">
            <img src="{{ url_for('static', filename='img/white-die-6.png')}}">
          </div>
          <div class="white-die-2 white-die hidden">
            <img src="{{ url_for('static', filename='img/white-die-1.png')}}">
            <img src="{{ url_for('static', filename='img/white-die-2.png')}}">
            <img src="{{ url_for('static', filename='img/white-die-3.png')}}">
            <img src="{{ url_for('static', filename='img/white-die-4.png')}}">
            <img src="{{ url_for('static', filename='img/white-die-5.png')}}">
            <img src="{{ url_for('static', filename='img/white-die-6.png')}}">
          </div>
        </td>
        <td valign="bottom">
          <div class="help-link"><a target="_blank" href="{{ url_for('static', filename='help/dice.html')}}">Help</a></div>
        </td>
      </tr>
    </table>
        </div>

        <!-- INSTRUCTIONS ----------------------------------------------------->      
        <div class="player-instructions console-component">
          <table>
            <tr v-for="player in players">
              <td>
                <span class="arrow" v-bind:class="[{hidden: !player.active}]">⬤</span>
              </td>
              <td nowrap class="player-marker" v-bind:class="[player.color]">
                &nbsp;&nbsp;&nbsp;&nbsp;[[ playerNameText(player) ]]&nbsp;&nbsp;&nbsp;&nbsp;
              </td>
              <td class="instruction">
                [[ player.instruction ]]
              </td>
              <td valign="bottom">
                <div v-if="player.index === players.length - 1" class="help-link"><a target="_blank" href="dice.html">Help</a></div>          
              </td>
            </tr>
          </table>
        </div>

        <!-- BUTTONS ---------------------------------------------------------->      
        <div class="buttons console-component" v-show="showButtons">
          <table>
            <tr>
              <td class="primary-td">

                <div v-show="hasPretendSet && currentPhase === 'PHASE_PLAY_CARDS'" v-on:click="clickPretend" class="button-pretend">
                  <span>You cannot play a set of prize cards this turn.<br>Click this button to move on.</span>
                </div>

                <div v-show="hasOptionalSet && currentPhase === 'PHASE_PLAY_CARDS'" v-on:click="clickDoNotPlay" class="button-pretend">
                  <span>Do not play a set of three prize cards</span>
                </div>

                <div v-show="hasOptionalSet && currentPhase === 'PHASE_PLAY_CARDS'" v-on:click="clickPlayCards" class="button-play">
                  <span>Play a set of three prize cards to receive [[nextPrize]] armies.</span>
                </div>

                <div v-show="hasMandatorySet && currentPhase === 'PHASE_PLAY_CARDS'" v-on:click="clickMustPlayCards" class="button-must-play">
                  <span>
                    Play a set of three prize cards to receive [[nextPrize]] armies.
                    You must click this button since you have 5 or more cards.
                  </span>
                </div>

                <div v-show="hasChooseActionButtons" v-on:click="clickAttack" class="button-attack">
                  <span>Attack</span>
                </div>

                <div v-show="hasCancelAttackButton" v-on:click="clickCancelAttack" class="button-pass">
                  <span>Cancel attack</span>
                </div>

                <div v-show="hasChooseActionButtons" class="button-attack">
                  <span>Calculate</span>
                </div>

                <div v-show="hasChooseActionButtons" v-on:click="clickFortify" class="button-pretend">
                  <span>Fortify</span>
                </div>

                <div v-show="hasChooseActionButtons" v-on:click="clickPass" class="button-pass">
                  <span>Pass</span>
                </div>

                <div v-show="phaseRepeatOrCancel" v-on:click="clickRepeatAttack" class="button-attack">
                  <span>Repeat attack</span>
                </div>

                <div v-show="phaseRepeatOrCancel" v-on:click="clickCancelAttack" class="button-pass">
                  <span>Cancel attack</span>
                </div>

                <div v-show="phaseFortificySelectRecipient" v-on:click="clickCancelFortification" class="button-pass">
                  <span>Cancel fortification</span>
                </div>


              </td>
              <td valign="bottom">
                <div class="help-link"><a target="_blank" href="dice.html">Help</a></div>          
              </td>
            </tr>
          </table>
        </div>

        <!-- PRIZE CARDS ------------------------------------------------------>
        <div class="prize-cards console-component" v-show="playerHasCard">
          <table >
            <tr>
            <td valign="center" nowrap>
              <div class="cards-label"><center>Your prize cards <br> (no one else can see):</center></div>
            </td>
            <td valign="center" class="primary-td">
              <img v-for="n in players[thisPlayerIndex].numHearts" src="{{ url_for('static', filename='img/heart.png')}}" class="card">
              <img v-for="n in players[thisPlayerIndex].numClubs" src="{{ url_for('static', filename='img/club.png')}}" class="card">
              <img v-for="n in players[thisPlayerIndex].numDiamonds" src="{{ url_for('static', filename='img/diamond.png')}}" class="card">
            </td>
            <td valign="bottom">
              <div class="help-link"><a target="_blank" href="{{ url_for('static', filename='help/your-prize-cards.html')}}">Help</a></div>
            </td>
            </tr>
          </table>
        </div>

        <!-- PRIZE SCHEDULE --------------------------------------------------->
        <div class="prize-schedule console-component">Prize schedule: &nbsp;&nbsp;&nbsp;
          <span v-for="prize in abridgedPrizeSchedule" class="prize" v-bind:class="[{currentPrize: prize.active}]">[[prize.value]]</span>
          
          <div class="help-link"><a target="_blank" href="{{ url_for('static', filename='help/prize-schedule.html')}}">Help</a></div>
        </div>


        <!-- UNDO / REDO ------------------------------------------------------>
        <div class="undo-buttons console-component">
          <button :disabled="!undoAvailable" v-on:click="clickUndo">Undo</button>
          <button :disabled="!redoAvailable" v-on:click="clickRedo">Redo</button>
        </div>

      </div>
    </div>

    <div id="calc-main" style="float:left;">
    </div>

    <div id="calc1" style="float:left;">
    </div>

    <div id="calc2" style="float:left;">
    </div>

  </body>
  <script src="{{ url_for('static', filename='js/territories.js')}}"></script>
  <script src="{{ url_for('static', filename='js/calc.js')}}"></script>
  <script type="text/javascript">
    var GAME_CONFIG = {{ gameConfig|tojson }};
    var REMOTE_SERVER;
    var LOCAL_SERVER;
    var GAME;
    var CALC1;
    var CALC2;
    var DICE;

    if (GAME_CONFIG.init === "hotseat") {
      DICE = new Dice();
      GAME = new CalcGame("#gameTemplate", "#calc-main", null, DICE, $.extend({}, GAME_CONFIG, DEFAULT_CONFIG));
    } else if (GAME_CONFIG.init === "two-boards") {
      /*var GAME_CONFIG_2 = $.extend({}, GAME_CONFIG, DEFAULT_CONFIG);
      GAME_CONFIG_2.username = "Player 2";
      GAME_CONFIG_2.isHost = false;*/
      const GAME_CONFIG_1 = {
          isHost: true,
          numPlayers: 2,
          username: "Alice",
      };

      const GAME_CONFIG_2 = {
          isHost: false,
          numPlayers: 2,
          username: "Bob",
      };

      DICE1 = new Dice(0);
      DICE2 = new Dice(1);
      LOCAL_SERVER = new LocalCalcServer();
      CALC1 = new CalcGame("#gameTemplate", "#calc1", LOCAL_SERVER, DICE1, $.extend({}, GAME_CONFIG_1, DEFAULT_CONFIG));
      CALC2 = new CalcGame("#gameTemplate", "#calc2", LOCAL_SERVER, DICE2, $.extend({}, GAME_CONFIG_2, DEFAULT_CONFIG));


    } else {
      DICE = new Dice();
      REMOTE_SERVER = new RemoteCalcServer(GAME_CONFIG);
      GAME = new CalcGame("#gameTemplate", "#calc-main", REMOTE_SERVER, DICE, $.extend({}, GAME_CONFIG, DEFAULT_CONFIG));
    }
  </script>
</html>
